<div data-id="{{_id}}" class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h3>
                    <a class="article-link" target="_blank" href="https://old.reddit.com{{link}}"><i
                            class="fa fa-comments-o"
                            style="font-size:48px;color:rgb(241, 72, 72)"></i>&nbsp;&nbsp;{{title}}</a>
                </h3>
                <p><span class="author float-right">- {{author}}</span></p>
            </div>
            <div class="col-2">
                <a class="btn btn-danger deleteSaved float-right text-white" data-id="{{_id}}">DELETE FROM SAVED</a>
            </div>
            <div class="col-2 pl-0">
                {{!-- <a class="btn btn-info addNotes float-right text-white" data-id="{{_id}}">ADD NOTES</a> --}}
                <button type="button" class="btn btn-info addNotes float-right text-white" data-toggle="modal"
                    data-target="#exampleModal" data-id="{{_id}}">ADD NOTES</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">ADD NOTES</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Comments:</h5>
                                <hr>
                                <ul class="note-container"></ul>
                                <textarea placeholder="New Note" rows="4" cols="50"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">SAVE NOTES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>